.loginForm{
    padding:20px;
    height: 300px;
    width: 300px;
    text-align: center;
    margin: auto;
}
.formTitle{
    color: #fff;
    text-align: center;
    font-weight: 600;
    font-size: larger;
}
.forgotPasswordLink{
    padding: 8px 0px;
}
.forgotPasswordLink a{
    text-decoration: none;
    color: blue;
}